.outer-container-login{
  width:30%;
  display:flex;
  justify-content:center;
  margin:auto;
  position:relative;
  top:90px;
  height:60vh;
}
.inner-container-login{
  display:flex;
  flex-direction:column;
  gap:24px;
}
.login-heading{
  display:flex;
  justify-content:center;
  font-size:24px;
  margin-bottom:16px;
}
.login-inputs{
  height:40px;
  font-size:18px;
  padding-left:5px;
}
.login-helper{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size:12px;
  cursor:pointer;
}
.login-create{
  padding-bottom:10px;
}
.login-create:hover{
  color:blue;
}

.login-forgot{
  padding-bottom:10px;
}
.login-forgot:hover{
  color:blue;
}

.login-btn-2-div{
  display:flex;
  justify-content:center;
}
.login-btn-2{
  height:40px;
  width:74px;
  padding-bottom:3px;
  border-radius:10px;
  border-style:none;
  font-size:14px;
}
