.outer-container{
  width:30%;
  display:flex;
  justify-content:center;
  margin:auto;
  position:relative;
  top:90px;
  height:60vh;
}

.inner-container{
  display:flex;
  flex-direction:column;
  gap:24px;
}
.name-container{
  display:flex;
  flex-direction:row;
  gap:16px;
}

.name-container input{
  width:60%;
}

.register-inputs{
  height:40px;
  font-size:18px;
}

.register-inputs::placeholder{
  padding-left:5px;
}

.register-heading{
  display:flex;
  justify-content:center;
  font-size:24px;
  margin-bottom:16px;
}
.register-btn-2-div{
  display:flex;
  justify-content:center;
}
.register-btn-2{
  height:40px;
  width:74px;
  padding-bottom:3px;
  border-radius:10px;
  border-style:none;
  font-size:14px;
}



