nav{
  height:60px;
}
.bg-green{
  background-color:green;
}
.bg-red{
  background-color:red;
}
.box{
  display:flex;
  position:relative;
  padding:5px;
  padding-top:6px;
}
.searchbox{
  display:flex;
  align-items:center;
  justify-content:center;
  width:98%;
  position:absolute;
  padding-top:5px;
}
.auth-box{
  display:flex;
  position:absolute;
  padding-top:6px;
  right:10px;
  gap:5px;
}
.login-btn{
  width:60px;
  height:40px;
  border-radius:10px;
  background-color:#3BBEDB;
  border-style:none;
  color:white;
  font-weight:600;
}
.register-btn{
  width:80px;
  height:40px;
  border-radius:10px;
  background-color:#3BBEDB;
  border-style:none;
  color:white;
  font-weight:600;
}
.login-btn:hover{
  background-color:#2D9BB3;
}
.register-btn:hover{
  background-color:#2D9BB3;
}

