:root{
}
*{
  margin:0px;
  padding:0px;
}
header{
  height:50px;
}
main{
  height: 100hv;
  position:relative;
}
footer{
  background-color:black;
  color:white;
}
.container{
  padding:10px;
  padding-left:30px;
}

.red{
  background-color:red;
}
