:root{
}
*{
  margin:0px;
  padding:0px;
}
header{
  height:60px;
}
main{
  height: 100hv;
  position:relative;
  padding-top:10px;
  padding-bottom:10px;
}
footer{
  background-color:black;
  color:white;
  bottom:0px;
  position:relative;
  width:100%;
}
.container{
  padding:10px;
  padding-left:30px;
}

.red{
  background-color:red;
}
.heading{
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
}
